@keyframes show {
    from {
      transform: scale(0);
      background: #000000;
    }
    to {
        background: #3d3d3d;
        transform: scale(1);
    }
}
@keyframes showbox{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.AboutMe{
    animation-name: show;
    animation-duration:1.3s;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.MeContent{
    width:80%;
    height:80%;
}
.about{
    font-size: 4vmin;
    height:100%;
    display: flex;
    flex-direction: row;
}
.about_left{
    height:100%;
    width:40%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.Information{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: showbox 3s ease forwards 1s;
}
.information{
    color: #FADA5E;
}
.Web{
    font-size: 3vmin;
    display:flex;
    align-items: center;
    height:100%;
    width:60%;
    opacity: 0;
    animation: showbox 3s ease forwards 1.5s;
}
.web{
    color: #FADA5E;
}
@media ( max-width: 767px ){
    .AboutMe{    
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .about{
        font-size: 5vmin;
        height:100%;
        display: flex;
        flex-direction: column;
    }       
    .about_left{
        height:30%;
        width:100%;
    }
    .Information{
        height:100%;
        width:100%;
    }
    .information{
        margin:0rem;
        color: #FADA5E;
    }
    .Web{
        height:70%;
        width:100%;
        font-size: 5vmin;
    }
    .web{
        margin:0;
        color: #FADA5E;
    }
}