.navbar_top{
    position: absolute;
    top:0;
    width:100%;
}
.title_bar{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding:0 5rem;
}
.title{
    font-family:'KOTRA_BOLD-Bold';
    display:flex;
    align-items: center;
    color: #ffc0cb;
}
.subtitle{
    background: #FADA5E;
    color: #3d3d3d;
    padding:2.5rem 3rem;
    border-radius: 10% 10% 25% 25%;
}
@media ( max-width: 767px ){
    .navbar_top{
        /* padding:2rem 2rem; */
        background:  #FADA5E;
    }
    .subtitle{
        background: none;
        padding:0;
        border-radius: 0;
    }
}