@keyframes workbackground{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.Work{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content : center;
    align-items: center;
    font-size: 3vmin;
}
.works{
    width:100%;
    height:70%;
    opacity: 0;
    display:flex;
    justify-content : center;
    align-items: center;
    background-size:cover;
    background-position: center center;
    transition-duration: 1.3s;
    animation: workbackground 1.2s ease forwards;
}
